@using Friends.Core.Application.ViewModels.Comment
@using Friends.Core.Application.ViewModels.Friendship;
@using Friends.Core.Application.ViewModels.Post
@using Friends.Core.Application.ViewModels.User;
@using Friends.Core.Application.Helpers;
@inject IHttpContextAccessor httpContext;
@model List<FriendshipViewModel>
@{
    UserViewModel user = httpContext.HttpContext.Session.Get<UserViewModel>("User");
 
   
}

<div class="d-flex justify-content-around">
    <div>
        <!--Publicaciones de amigos-->
        @foreach (PostViewModel post in ViewBag.Posts)
        {
            <div class="card mb-4 post pb-3 m-auto" style=" width: 700px;">
                <div class="card-header border-0 ">

                 <input type="hidden" value="@post.Id" name="postId"/>
                 <img src="@post.User.Picture" alt="No hay foto" style="height: 48px; width: 48px; border-radius: 25px">

                    <div>
                        <h7 style="font-size: 25px">@post.User.Name @post.User.LastName</h7>

                        <p class="text-secondary">@DateTime.Parse( post.Date)</p>

                    </div>

               </div>
             <div class="card-body">
                 <p style="font-size:20px">@post.Content </p>
                    <!--IMAGE CARRUSEL-->
                    @if (post.ImagePath != null && post.ImagePath.Count() > 10)
                    {
                        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="@post.ImagePath" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    }
             </div>
                <div class="card-footer border-0 comment" style="border-radius:21px;">
                    <form method="post" asp-controller="Home" asp-action="CreateComment">
                        <div class="d-flex">
                            <input name="PostId" type="hidden" value="@post.Id" />
                            <input placeholder="Add a comment..." class="form-control border-0 " name="Content" type="text" required autocomplete="off" />
                            <button type="submit" class="btn text-primary">Send</button>
                        </div>
                    </form>
                        <hr />
             </div>
             @foreach(CommentViewModel comment in post.Comments){
                    <div class="d-flex ms-3 mb-2 gap-2 comments">
                        <figure style="height: 40px; width: 40px;  border-radius: 14px; overflow: clip;">
                            <img src="@comment.User.Picture" style="height:100%; width: 100%; object-fit: cover;" />

                        </figure>
                        <div>
                            <h6 class="mb-0">@comment.User.Name @comment.User.LastName</h6>
                            <p class=" mb-0">@comment.Content</p>
                        </div>
                    </div>
             }
            </div>
            }
    </div>
    <!--LISTA DE AMIGOS-->
    <div class="d-flex flex-column justify-content-center position-sticky" style="right:5%; height:fit-content; top:11vh;">
        <div class="d-flex justify-content-center">
            <a type="submit" class="btn bg-active rounded-pill justify-self-center mb-2" asp-controller="Friend" asp-action="SaveFriend">Add Friends</a>
        </div>
        <div class="card shadow overflow-auto post rounded-4" style="height: 600px">
            <div class=" card-header border-0">
                <div class="d-flex mt-3">
                    <input placeholder="Search..." class="form-control rounded-pill">
                    <span class="btn text-primary " type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20px" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round"  stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </span>
                </div>
                
            </div>
            <div class="card-body">
                @if(Model == null || Model.Count == 0 ){
                    <div class="d-flex justify-content-center">
                        <h5><strong>You have not friends yet.</strong></h5>
                    </div>
                }else{

                    @foreach(FriendshipViewModel friend in Model){

                        <div class="d-flex justify-content-between border border-1 rounded p-2 mb-1 border-secundary align-items-center">
                            <img alt="no hay" style="height:40px; width: 40px;" class="rounded-pill" src="@friend.User.Picture"/>
                            <h7 style="min-height: 32px; min-width: 120px;">@friend.User.Name @friend.User.LastName</h7>
                            <a class="text-danger " asp-controller="Friend" asp-action="DeleteFriend" asp-route-id="@friend.Id" title="Delete Friend">
                                <svg xmlns="http://www.w3.org/2000/svg" class="text-danger size-6" fill="none" viewBox="0 0 24 24" width="25px" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>
                            </a>
                        </div>
                    }
                }
                
            </div>
        </div>
    </div>

</div>
